<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.bit.ex.mapper.EmpMapper">

<!-- 카디널리티 1:N 관계- 마이바티스 규칙 -->
	<resultMap id="EmpMap" type="edu.bit.ex.vo.EmpVO">
	<!-- coulumn : DB상의 실제 컬럼
         property : setter함수 -->
	    <result property="username" column="eanme"/>
	    <result property="password" column="empno"/>
	    <result property="enabled" column="enabled"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<resultMap id="authMap" type="edu.bit.ex.vo.AuthVO">
		<result property="username" column="eanme"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	<select id="getMember" resultMap="EmpMap">
		select * from users , authorities 
		where users.username = authorities.username and users.username = #{username}
	</select>
	

</mapper>
